body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  margin: 0.5em;
}
button {
  font-family: sans-serif;
  font-size: 1em;
}
.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tabs button {
  height: 40px;
  background: none;
  border: none;
}
.tabs button.selected {
  border-bottom: 4px #f4f solid;
}
.disabled {
  pointer-events: none;
}
.empty {
  font-style: italic;
  color: #aaa;
}
